
.sidebar {
	display: flex;
	flex-direction: column;
	width: 25%;
	position: fixed;
	right: 0;
	top: 0;

	/*margin: 0; 
    position: absolute;
	top: 0px;
	right: 0px;
	text-decoration: none;
	list-style: none;*/
}

.item {
	height: 140px;
	background: lightgray;
	border: 1px dotted black;
}




/*.sidebar ul li { 
    background: pink;
    border: 1px solid black;
    width: calc(10%);
    height
}*/