body {
	width: 100%;
	background: #29353d;
	overflow-x: hidden;
}

h2 {
    color: #fff;
    font-size: 30px;
    font-family: "Montserrat";
    font-weight: 700;
    border-bottom: 2px dotted #fff;
    margin-bottom: 10px;
    margin-top: 30px;
    display: inline-block;
    text-shadow: -2px 2px #000;
}

h1, h3, h4, h5, p {
	font-family: 'Montserrat';
}

footer {
	background: #000;
	color: white;
	font: 'Montserrat';
	//height: 50px;
	padding: 25px 5px;
}

footer p {
	margin-left: 6%;
}

.trailerButton {
	font-family: 'Montserrat';
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	padding: 10px 25px;
	border-radius: 5px;
	border: 1px solid #fff;
	transition: background .5s, box-shadow .5s;
}

.trailerButton:hover {
	color: #fff;
	text-decoration: none;
	text-shadow: 2px 2px 4px #000000;
	background: rgba(105, 105, 105, 0.75);
	padding: 10px 25px;
	border-radius: 3px;
	border: 0px;
	box-shadow: 0 0 15px #000;
}

#logo {
	height: 150px;
	margin-left: 180px;
}

#container {
	z-index: -10;
	//height: 1350px;  I commented this out to make the fantasy section fit in with it. 
	padding: 2%;
	padding-bottom: 50px;
}


.outline {
	margin-left: 6%;
	/*margin-right: 10%;*/
	width: 1100px;
	//padding: 2%;
	background: #6b1414;
	box-shadow: 0 0 3em #000;
}

.letterBox {
	margin-left: 6%;
	/*margin-right: 10%;*/
	width: 920px;
	padding: 2%;
	background: firebrick;
	box-shadow: 0 0 3em #000;
}

.movieCover {
	float: left;
	display: inline-block;
	height: 300px;
	width: 200px;
	margin-bottom: -3px;
	margin: 10px;
	border: 5px solid #fff;
	border-radius: 3px;
	box-shadow: 0 0px .5em #000;
	transition: box-shadow .25s, margin-top .25s;
}

.movieCover:hover {
	box-shadow: 0 10px 2em #000;
/*	height: 305px;
	width: 202px;*/
	margin-top: -5px;
}