body {
	width: 100%;
	background: dimgrey;
}

#logo {
	height: 150px;
}

.letterBox {
	margin-left: 15%;
	margin-right: 15%;
	padding: 10px;
	background: firebrick;
	box-shadow: 0 0 2em black;
}

.movieCover {
	height: 300px;
}

.movieWrapper {
	display: inline-block;
	background: white;
	padding: 5px;
	box-shadow: 0 0 .25em black;
	transition: box-shadow .25s;
}

.movieWrapper:hover {
	display: inline-block;
	background: white;
	padding: 5px;
	box-shadow: 0 0 3em black;
}