#header {
	background: -webkit-linear-gradient(#4d93ff, #0064ff, #005ae6, #0064ff, #80b2ff); /* For Safari 5.1 to 6.0 */
	height: 150px;
	width: 100%;
	position: fixed;
	top: 0;
	padding: 15px 20%;
	color: white;
	box-shadow: 0 1px 10px #0064ff;
}

#weatherImage {
	height: 100px;
	width: 100px;
	position: absolute;
	top: 20px;
	left: 600px;
}

#articles {
	margin-top: 160px;
	margin-left: 25%;
	margin-bottom: 50px !important;
	display: inline-block;
}

.article {
	border: 1px solid black;
	border-radius: 5px;
}